@model List<FashionShop.Models.EF.MenuType>
<div class="shop__sidebar">
    @{ int count = 0;}
    @foreach (var menuType in Model)
    {
        var menus = menuType.Menus.Where(x => x.Level == 1 && x.Status == true).OrderBy(x => x.DisplayOrder);
        <div class="sidebar__categories">
            <div class="section-title">
                <h4>@menuType.Name</h4>
            </div>
            <div class="categories__accordion">
                <div class="accordion" id="accordionExample">
                    @foreach (var item in menus)
                    {
                        count++;
                        var child = menuType.Menus.Where(x => x.ParentID == item.ID && x.Status == true).OrderBy(x => x.DisplayOrder);
                        string link = (item.Type == "url") ? item.Link : "/" + item.Alias;
                        string target = "collapse" + count;
                        <div class="card">
                            <div class="card-heading active">
                                <a data-toggle="collapse" data-target="#@target">@item.Name</a>
                            </div>
                            <div id="@target" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    @if (child.Count() > 0)
                                    {
                                        <ul>
                                            @foreach (var item2 in child)
                                            {
                                                link = (item2.Type == "url") ? item2.Link : "/" + item2.Alias;
                                                <li><a href="@link">@item2.Name</a></li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
<div class="sidebar__filter">
    <div class="section-title">
        <h4>Shop by price</h4>
    </div>
    <div class="filter-range-wrap">
        <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
             data-min="100000" data-max="1000000"></div>
        <div class="range-slider">
            <div class="price-input">
                <p>Giá:</p>
                <input style="min-width:80px" type="text" id="minamount"> đến
                <input style="min-width:95px" type="text" id="maxamount">
            </div>
        </div>
    </div>
    <a href="#">Lọc</a>
</div>
    @*<div class="sidebar__sizes">
            <div class="section-title">
                <h4>Shop by size</h4>
            </div>
            <div class="size__list">
                <label for="xxs">
                    xxs
                    <input type="checkbox" id="xxs">
                    <span class="checkmark"></span>
                </label>
                <label for="xs">
                    xs
                    <input type="checkbox" id="xs">
                    <span class="checkmark"></span>
                </label>
                <label for="xss">
                    xs-s
                    <input type="checkbox" id="xss">
                    <span class="checkmark"></span>
                </label>
                <label for="s">
                    s
                    <input type="checkbox" id="s">
                    <span class="checkmark"></span>
                </label>
                <label for="m">
                    m
                    <input type="checkbox" id="m">
                    <span class="checkmark"></span>
                </label>
                <label for="ml">
                    m-l
                    <input type="checkbox" id="ml">
                    <span class="checkmark"></span>
                </label>
                <label for="l">
                    l
                    <input type="checkbox" id="l">
                    <span class="checkmark"></span>
                </label>
                <label for="xl">
                    xl
                    <input type="checkbox" id="xl">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="sidebar__color">
            <div class="section-title">
                <h4>Shop by size</h4>
            </div>
            <div class="size__list color__list">
                <label for="black">
                    Blacks
                    <input type="checkbox" id="black">
                    <span class="checkmark"></span>
                </label>
                <label for="whites">
                    Whites
                    <input type="checkbox" id="whites">
                    <span class="checkmark"></span>
                </label>
                <label for="reds">
                    Reds
                    <input type="checkbox" id="reds">
                    <span class="checkmark"></span>
                </label>
                <label for="greys">
                    Greys
                    <input type="checkbox" id="greys">
                    <span class="checkmark"></span>
                </label>
                <label for="blues">
                    Blues
                    <input type="checkbox" id="blues">
                    <span class="checkmark"></span>
                </label>
                <label for="beige">
                    Beige Tones
                    <input type="checkbox" id="beige">
                    <span class="checkmark"></span>
                </label>
                <label for="greens">
                    Greens
                    <input type="checkbox" id="greens">
                    <span class="checkmark"></span>
                </label>
                <label for="yellows">
                    Yellows
                    <input type="checkbox" id="yellows">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>*@
</div>