@model FashionShop.Models.EF.Contact
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_HomeLayout.cshtml";
}
<div class="container-fluid">
    @using (Html.BeginForm("Edit", "Contact", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3 style="color: #593bdb">Thông tin cửa hàng</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Liên hệ</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Chỉnh sửa</a></li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <div>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Trở về</a>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.PointX)
                                    @Html.TextBoxFor(model => model.PointX, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PointX, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.PointY)
                                    @Html.TextBoxFor(model => model.PointY, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PointY, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Content)
                                    @Html.TextAreaFor(model => model.Content, new { @class = "form-control summernote" })
                                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script src="~/Assets/js/summernote.js"></script>
    <script src="~/Assets/Admin/vendor/summernote/js/summernote.min.js"></script>
}
@section Links{
    <link href="~/Assets/Admin/vendor/summernote/summernote.css" rel="stylesheet">
}