@model FashionShop.Models.ViewModel.LoginViewModel
@{
    ViewBag.Title = "ConfirmCode";
    Layout = "~/Areas/Admin/Views/Shared/_AccountLayout.cshtml";
}
<div class="col-md-6">
    <div class="authincation-content">
        <div class="row no-gutters">
            <div class="col-xl-12">
                <div class="auth-form">
                    <h4 class="text-center mb-4">Đăng nhập tài khoản</h4>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label><strong>Tài khoản</strong></label>
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label><strong>Mật khẩu</strong></label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-row d-flex justify-content-between mt-4 mb-2">
                            <div class="form-group">
                                <div class="form-check ml-2">
                                    <input class="form-check-input" type="checkbox" id="basic_checkbox_1">
                                    <label class="form-check-label" for="basic_checkbox_1">Nhớ mật khẩu</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="@Url.Action("Forget")">Quên mật khẩu?</a>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                        </div>
                    }
                    <div class="new-account mt-3">
                        <p>Bạn không có tài khoản? <a class="text-primary" href="./page-register.html">Đăng ký</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
