@model FashionShop.Models.ViewModel.NewPasswordViewModel
@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Areas/Admin/Views/Shared/_AccountLayout.cshtml";
}
<div class="col-md-6">
    <div class="authincation-content">
        <div class="row no-gutters">
            <div class="col-xl-12">
                <div class="auth-form">
                    <h4 class="text-center mb-4">Đổi mật khẩu mới</h4>
                    @using (Html.BeginForm("NewPassword", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken() //cho client
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" });
                        @Html.HiddenFor(m => m.ID)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @autofocus = "autofocus" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Xác nhận</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
