@model FashionShop.Models.EF.Content
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_HomeLayout.cshtml";
}
<span id="message" class="d-none">@TempData["Message"]</span>
<span id="status" class="d-none">@TempData["Status"]</span>
<div class="container-fluid">
    @using (Html.BeginForm("Create", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3 style="color: #593bdb">Quản lý bài viết</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Bài viết</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Thêm</a></li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <div>
                    <button type="submit" name="btnAdd" class="btn btn-primary">Thêm</button>
                    <button type="submit" name="btnAddContinue" class="btn btn-primary">Thêm và tiếp tục</button>
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Trở về</a>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Name)
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Alias)
                                    @Html.TextBoxFor(model => model.Alias, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Alias, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Image)
                                    @Html.TextBoxFor(model => model.Image, new { type = "file", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Tags)
                                    @Html.TextBoxFor(model => model.Tags, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Content1)
                                    @Html.TextAreaFor(model => model.Content1, new { @class = "form-control summernote" })
                                    @Html.ValidationMessageFor(model => model.Content1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.CategoryID)
                                    @Html.DropDownListFor(model => model.CategoryID, (IEnumerable<SelectListItem>)ViewBag.ArticleCateList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Status)
                                    @Html.DropDownListFor(model => model.Status, new List<SelectListItem>{
                                            new SelectListItem() {Text = "Ẩn", Value="true"},
                                            new SelectListItem() {Text = "Hiện", Value="false"}}, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script src="~/Assets/Admin/vendor/toastr/js/toastr.min.js"></script>
    <script src="~/Assets/js/toastr.js"></script>

    <script src="~/Assets/js/summernote.js"></script>
    <script src="~/Assets/Admin/vendor/summernote/js/summernote.min.js"></script>
}
@section Links{
    <link rel="stylesheet" href="~/Assets/Admin/vendor/toastr/css/toastr.min.css">
    <link href="~/Assets/Admin/vendor/summernote/summernote.css" rel="stylesheet">
}